---
import Hero from '../components/Hero.astro';
import RandomQuote from '../components/RandomQuote';
---

<html>
  <head>
    <title>Astro Test</title>
  </head>
  <body>
    <Hero />
    <RandomQuote client:visible />
  </body>
</html>
